@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

header{
    height: 100dvh;
    width: 100dvw;
}

nav{
    height: 16vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #1E2022; */
    padding: 0 2rem;
}
nav > .top{
   display: flex;
   align-items: center;
   height: 10vh;
   width: 100%;
   justify-content: space-between;
   padding: 1rem 0;
}

.top .nav-left{
    width: 20%;
}

.top > .nav-left h1{
    color: #CF2D2D;
}

nav > .top > .nav-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #1E2022; */
    width: 50%;
}

.categoies{
    background: #1E2022;
    width: 22%;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    width: 20%;
    cursor: pointer;
}
.categoies > img{
    height: 20px;
    width: 20px;
    margin-right: -20px;
}
.categoies h2{
    font-size: 16px;
}

.search-bar{
    width: 75%;
    height: 30px;
    border: 1px solid #B0BABF;
    position: relative;
    background: white;
    padding: 0 0.8em;
    border-radius: 4px;
}
.search-bar > input{
    position: absolute;
    height: 100%;
    width: 95%;
    border: none;
    outline: none;
    background: transparent;
    color: #1E2022;
    text-align: left;
}
input::placeholder{
    color: #1E2022;
}
.search-bar > img{
    position: absolute;
    right: 5px;
    height: 20px;
    width: 20px;
    top: 4px;
    cursor: pointer;
}

.nav-right{
    width: 20%;
}
.btn{
    padding: 5px;
    background: transparent;
    border: 1px solid #B0BABF;
    border-radius: 3px;
    cursor: pointer;
}
.btn:first-child{
    border: none;
}
.btn > img{
    height: 12px;
    width: 12px;
}

/* Error  */

nav > .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6vh;
}

.location{
    width: 20%;
    display: flex;
}

.lists{
    width: 70%;
}

.lists > ul{
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    word-spacing: -2px;
    width: 100%;
}

.lists ul li{
    list-style: none;
    padding: 0 15px;
}

.lists ul li a{
    text-decoration: none;
    color: #1E2022;
}

/* error end  */

/* hero section  */

.hero{
    background-image: url(Images/Banner.svg);
    height: 84vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h3{
    font-size: 50px;
    padding: 0 20%;
    line-height: 130%;
    margin-top: -10%;
}

.hero p{
    margin-top: 10px;
    padding: 0 25%;
    line-height: 150%;
    word-spacing: 4px;
}


.recommended-shows{
    /* border: 1px solid blue; */
    /* height: 50vh; */
    width: 100vw;
    padding-left: 10em;
    margin-top: -10em;
    color: white;
}

.recommended-shows > .top-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 1em;
}

.recommended-shows .top-part p > a{
    color: white;
}

.recommended-shows .container{
    max-width: 1300px;
    width: 100%;
    /* border: 4px solid black; */
    height: 380px;
}

.image-lists{
    display: grid;
    /* grid-template-columns: repeat(8, 1fr); */
    gap: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
    position: relative;
}


.img-container{
    background-image: url('https://drive.google.com/thumbnail?id=1lS1XAo47YvNSoFp1NE5rmhTSQ8qNBWEh');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);
    height: 380px;
    width: 240px;
    overflow-y: hidden;
    border-radius: 30px;
    /* border: 1px solid white; */
    margin-left: 20px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.img-container .first, .img-container .second{
    margin-bottom: 40px;
    width: 40%;
}
.img-container .first h3{
    font-size: 12px;
    margin-bottom: 5px;
}
.img-container .first p{
   font-size: 12px; 
}
.img-container .first p > img{
    height: 12px;
    width: 12px;
}

.img-container .second h4{
    font-size: 12px;
    margin-bottom: 7px;
}
.img-container .second p{
    font-size: 8px;
}

.upcoming-events{
    height: 110vh;
    width: 100vw;
    /* border: 1px solid black; */
    margin-top: 5em;
    padding: 0 10em;
    overflow: hidden;
}

.box-container{
    height: 100vh;
    overflow-y: auto;
    margin-top: 30px;
    scrollbar-width: none;
}

.upcoming-events .box-container .box-events{
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 40px;
}
.upcoming-events .box-container::-webkit-scrollbar{
    display: none;
}
.boxes{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    overflow: hidden;
}

.box-image{
    /* border: 1px solid blue; */
    height: 75%;
    position: relative;
    overflow: hidden;
}
.box-image > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    padding: 0 10px;
}
.box-image > h3{
    position: absolute;
    bottom: 15px;
    background: rgba(10, 10, 10, 0.793);
    color: white;
    width: 94%;
    margin-left: 10px;
    padding: 0 7px;
    border-radius: 8px;
}
.box-content{
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1em;
}
.box-content .first, .box-content .second{
    width: 45%;
}
.box-content .first h3{
    font-size: 14px;
    margin-bottom: 5px;
}
.box-content .first p{
    font-size: 12px;
}
.box-content .first p > img{
    height: 14px;
    width: 12px;
}
.box-content .second p{
    margin-left: 20px;
    font-size: 13px;
}

/* Media query */

@media screen and (max-width: 600px) {
    .top{
        padding: 0;
    }
    .nav-left{
        margin-right: 10px;
    }
    .top .nav-left > h1{
        font-size: 14px;
    }

    .categoies{
        margin-left: -10px;
        width: fit-content;
    }
    .categoies h2{
        font-size: 12px;
    }
    .categoies > img{
        display: none;
    }
    .nav-right{
        width: 25%;
    }
    .btn{
        padding: 2px;
        background: transparent;
        border: 1px solid #B0BABF;
        border-radius: 3px;
        cursor: pointer;
    }
    .btn:first-child{
        border: none;
    }
    .btn > img{
        height: 12px;
        width: 12px;
    }
    ul li:nth-child(4),
    ul li:nth-child(5),
    ul li:nth-child(6),
    ul li:nth-child(7){
        display: none;
    }
    .hero{
        width: 100%;
    }
    .hero h3{
        font-size: 22px;
        padding: 0 2em;
        margin-top: -10em;
    }
    .hero p{
        padding: 0 3em;
        font-size: 16px;
        margin-top: 2em;
    }
    .recommended-shows{
        width: 100vw;
        margin-top: -14em;
    }
    
    .upcoming-events, .recommended-shows{
        padding-left: 1em;
    }
    .box-container{
        width: 75vw;
    }
    .upcoming-events .box-container .box-events{
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .boxes{
        height: 280px;
        width: 280px;
        margin-left: 10px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media (min-width: 600px) and (max-width: 800px) {
    nav > .top{
        width: 90vw;
    }
    nav > .bottom{
        width: 90vw;
        /* border: 1px solid black; */
    }
    .bottom .location{
        width: 10%;
    }
    .nav-left > h1{
        font-size: 24px;
        font-weight: bolder;
    }
    .categoies{
        margin-left: -20px;
        width: fit-content;
    }
    .categoies h2{
        font-size: 14px;
    }
    .categoies > img{
        display: none;
    }
    .lists ul{
        gap: 10px;
    }
    .lists ul li{
        list-style: none;
        padding: 0;
    }
    /* .hero{
        width: 98%;
    } */
    .hero h3{
        font-size: 30px;
        padding: 0 2em;
        margin-top: -8em;
    }
    .hero p{
        padding: 0 5em;
        font-size: 14px;
    }
    
    /* .recommended-shows{
        width: 97vw;
    } */
    .upcoming-events{
        width: 90vw;
    }
    .upcoming-events, .recommended-shows{
        padding-left: 2em;
    }
    .box-container{
        width: 75vw;
    }
    .upcoming-events .box-container .box-events{
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 30px;
    }
    .boxes{
        height: 250px;
        width: 250px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 800px) and (max-width: 1200px) {
    .upcoming-events, .recommended-shows{
        padding-left: 6em;
    }
    .upcoming-events .box-container .box-events{
        overflow-y: auto;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 40px;
    }
    .categoies{
        margin-left: -20px;
        width: fit-content;
    }
    .categoies h2{
        font-size: 16px;
    }
    .categoies > img{
        display: none;
    }
    .box-container{
        width: 80vw;
    }
}
